#root {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}

.location-div {
  border: 3px solid coral;
  margin: 40px;
  width: 400px;
  height: 200px;
  padding: 40px;
}

.animals-card {
  border: 2px solid black;
  margin: 20px;
  width: 300px;
  padding: 30px;
}
.employee-div {
  border: 1px solid red;
  margin: 20px;
  padding: 20px;
}
