nav a {
    display: inline-block;
    font-size: 1.5em;
    background: rgb(255, 244, 144);
    margin-left: 10px;
    padding: 10px;
    font-style: none;
    transition: .2s;
    transition: box-shadow 0;
}

nav a:hover {
    /* background: cornflowerblue; */
    color: rgb(255, 102, 102);
    text-decoration: none;
    /* border: .5px solid white; */
    font-weight: bold;
    /* border-right: 1px solid cornflowerblue; */
}

nav a:active {
    box-shadow: inset 3px 2px 2px black;
    text-shadow: 1px 2px 2px black;
}

nav {
    width: 100%;
    background: rgb(255, 244, 144);
    margin-bottom: 20px;
    box-shadow: 5px 3px 8px rgb(131, 120, 120);
}

nav form {
    display: inline-block;
}

nav input {
    margin-left: 40px;
    border-radius: 15px;
    outline: none;
    padding-left: 20px;
    border: none;
}